<div class="card w-50 m-auto">
  <div class="card-header">View Page</div>
  <div class="card-body row">
    <div class="col-4">
      <label class="mb-2" for="city">City</label>
      <select class="form-select" id="city"></select>
    </div>
    <div class="col-4">
      <label class="mb-2" for="school">School</label>
      <select class="form-select" id="school"></select>
    </div>
    <div class="col-4">
      <label class="mb-2" for="grade">Grade</label>
      <select class="form-select" id="grade"></select>
    </div>

  </div>
  <div class="card-footer d-flex justify-content-center">
    <button class="btn btn-dark">View</button>
  </div>
</div>