<div class="card w-50 m-auto">
  <div class="card-header">View Page</div>
  <div class="card-body row">
    <div class="col-4">
      <label class="mb-2" for="city">City</label>
      <select  [(ngModel)]="selectedData.city" (change)="findAllSchoolsByCityId()" class="form-select" id="city">
        <option *ngFor="let item of responseData.cities" [value]="item.cityId">{{item.cityName}}</option>
      </select>
    </div>
    <div class="col-4">
      <label class="mb-2" for="school">School</label>
      <select [disabled]="selectedData.city == null"  (change)="findAllGradesBySchoolId()" [(ngModel)]="selectedData.school" class="form-select" id="school">
        <option *ngFor="let item of responseData.schools" [value]="item.schoolId">{{item.schoolName}}</option>
      </select>
    </div>
    <div class="col-4">
      <label class="mb-2" for="grade">Grade</label>
      <select [disabled]="selectedData.school == null" [(ngModel)]="selectedData.grade"  class="form-select" id="grade">
        <option *ngFor="let item of responseData.grades" [ngValue]="item">{{item.gradeName}}</option>
      </select>
    </div>

  </div>
  <div class="card-footer d-flex justify-content-center gap-2">
    <button class="btn btn-dark" [disabled]="selectedData.grade == null || !showStudents" (click)="save()">Save</button>

    <button class="btn btn-dark" [disabled]="selectedData.grade == null" (click)="findAllStudentsByGradeId()">View</button>

  </div>
</div>
<div *ngIf="showStudents" class="card mt-2 w-50 m-auto">
  <div class="card-body row">
    <div class="card col-sm-6 p-0">
      <div class="card-header">
        Students in this grade
      </div>
      <div class="card-body">
        <table class="table table-borderd">
          <thead>
            <tr>
              <th>#</th>
              <th>Student name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of responseData.students; let i = index;">
              <th>{{ i + 1}}</th>
              <th><input type="text" class="form-control" [value]="student.studentsName"></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="card col-sm-6 p-0">
      <div class="card-header">
        Grade free seats
      </div>
      <div class="card-body">
        <table class="table table-borderd">
          <thead>
            <tr>
              <th>#</th>
              <th>Student name</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of newStudents; let i = index;">
              <th>{{ i + 1}}</th>
              <th><input type="text" class="form-control" [(ngModel)]="student.studentsName"></th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  
</div>