<div class="card w-50 m-auto">
  <div class="card-header">Add Page</div>
  <div class="card-body row">
    <div class="col-6 mb-2">
      <label class="mb-2" for="city">City</label>
      <input [(ngModel)]="multiPlatsDTO.city.cityName" class="form-control" id="city" type="text">
    </div>
    <div class="col-6 mb-2">
      <label class="mb-2" for="school">School</label>
      <input [(ngModel)]="multiPlatsDTO.school.schoolName" class="form-control" id="school" type="text">
    </div>
    <div class="col-6 mb-2">
      <label class="mb-2" for="grade">Grade</label>
      <input [(ngModel)]="multiPlatsDTO.grade.gradeName" class="form-control" id="grade" type="text">
    </div>
    <div class="col-6 mb-2">
      <label class="mb-2" for="NumOfStudents">Number of students</label>
      <input [(ngModel)]="multiPlatsDTO.grade.numberOfStudents" class="form-control" id="NumOfStudents" type="number">
    </div>
  </div>
  <div class="card-footer d-flex justify-content-center gap-2">
    <button class="btn btn-dark">Save</button>
    <button class="btn btn-dark">New</button>
  </div>
</div>